extends ./layout.tpl.jade

block content
	div#account.col-sm-4-NOT.col-sm-push-8-NOT
		h2 Your Account:
		//- img.avatar.panel(src="https://api.adorable.io/avatars/285/{{vm.getCurrentUser().email}}")
		h4 Email:&#32;
			code {{ vm.getCurrentUser().email }}
		button.btn(ng-click="vm.logout()") Log out
	//- div#chat.col-sm-8.col-sm-pull-4-8-NOT
		h2 Live Chat:
		form(
			ng-submit="vm.addChatMessage(messageInputText); messageInputText='';"
		)
			input#messageInput.form-control.message(
				ng-model="messageInputText" 
				placeholder="New message..."
			)
			p
				input.btn.btn-primary(type="submit")
		//- div(ng-repeat="m in vm.getChatMessagesReadonly()")
		hr
		br
		.panel.message(
			ng-repeat="m in vm.chatMessages | orderBy:'-timestamp'"
			ng-if="m.timestamp"
			ng-class="{mine:m.senderEmail == vm.getCurrentUser().email}"
		)
			.panel-body
				p.text {{m.text}}
				hr
				img.avatar.panel(src="https://api.adorable.io/avatars/50/{{m.senderEmail}}")
				b.senderEmail {{m.senderEmail}}
				br
				span.timestamp {{m.timestamp | date:'EEE MMM d, y @ h:mm a'}}